.Rproj.user
.Rhistory
.RData
.Ruserdata
renv/*
cache/*
!cache/.placeholder
!cache/small
cache/small/*
!cache/small/.placeholder
!cache/large
cache/large/*
!cache/large/.placeholder
!cache/fixed
cache/fixed/*
!cache/fixed/.placeholder