body {
  background: linear-gradient(20deg, white 5%, rgba(126, 182, 255, .05) 70%, rgba(126, 182, 255, .25));
}

.reveal h1 {
    font-size: 2.0em;
    font-weight: bold;
}

.reveal h2 {
	border-bottom: 1px solid;
    text-align: left;
}

.reveal h3 {
  margin: 20px 0 20px 0;
  font-size: 1.25em;
}

.reveal small {
    margin: 0;
    line-height: 1.3;
}


.no-top-marg-next + p {
    margin: 0 0 20px 0;
}

.no-top-marg-next > p {
    margin: 0;
}

.reveal p > small {
    margin: 0;
    line-height: 1;
}

.reveal p > img {
  max-height: 400px;
  max-width: 800px;
  height: auto;
  width: auto;
  border: none;
}

div.logo {
  background: url(../fig/cbs_logo_horizontal.png);
  position: absolute;
  resize: both;
  bottom: 50px;
  left: 50px;
  background-size: cover;
  width: 452px; /* 9.05 * height*/
  height: 50px;
}

.reveal div.left {
    display: inline-block;
    text-align: left;
}

.reveal div.credit {
  margin-top: 5%;
}

.reveal div.center {
    display: table;
    margin: 0 auto;
}

.reveal p > img.small {
  max-height: 100px;
  box-shadow: none;
  border: none;
  padding-right: 30px;
  padding-left: 30px;
}

.reveal div.references{
  display: inline-block;
  text-align: left;
  overflow: auto;
  overflow-x: hidden;
  max-height: 400px;
  background-color: #d3d3d338;
}


div.references > div > p {
  font-size: 12px;
  margin: 5px;
}

.reveal table th {
  border-top: 1.5px solid #000000;
  border-bottom: 1.5px solid #000000;
  border-style: solid;
  border-left: none;
  border-right: none;
  padding-left: 10px;
  padding-right: 10px;
}

.reveal table {
  border: none;
  border-bottom: 1.5px solid #000000;
}

.reveal table td {
  border: none;
  padding-left: 10px;
  padding-right: 10px;
}

/* right allign all but the first column */
.reveal table td,
.reveal table th
{
    text-align:left;
}

.reveal table td + td,
.reveal table th + th
{
    text-align:right;
}

tr.invis {
  color: transparent;
}

.reveal blockquote {
  background:rgba(255, 255, 255, 1);
}

.reveal blockquote p {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
}