.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6{
  font-weight: bold;
}

.reveal h1 .reveal h2 {
    font-size: 150%;
}

.reveal h3 {
    font-size: 120%;
}

.reveal{
  font-size: 50px;
}

.reveal section img{
  box-shadow: none;
}

.reveal small {
    font-size: 50%;
    vertical-align: middle;
}

.reveal .slides section .mediaOnly {
  max-height: 800px
}

.reveal .slides section .mediaInline img, .reveal .slides section .mediaOnly img{
  display: block;
  max-height: 600px;
  width: auto;
}

.fixed_height {
  height: 475px;
  width: auto;
}

.scrollable {
  max-height: 70%;
  overflow: auto;
}